<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/total.css">

    <!-- Bootstrap JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- CSS파일  -->
    <link rel="stylesheet" href="/public/total.css">

    <title>관리자 페이지</title>
  </head>
  <body>
    
    <%- include('nav.ejs')  %>
     
    <div class="list-group">
        <a href="/memberlist" class="list-group-item list-group-item-action">회원 관리</a>
        <a href="/postlist" class="list-group-item list-group-item-action">게시판 관리</a>
      </div>

    
        


    <%- include('footer.ejs')  %>


  </body>
</html>