<div class="footer text-center mt-5 pb-4">
    <p><h4 class="text-secondary">Evertime</h4>
    &copy; by Evertime</p>

    <h5>Contact us</h5>
    E-mail : dmchoi1114@gmail.com<br>
    H.P : 010-3590-1592
  </div>