
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Evertime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">홈</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/intro">소개</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              게시판
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/free/board/1">자유게시판</a>
              <a class="dropdown-item" href="/qna/board/1">질답게시판</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mypage">마이페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="adminlink" href="/admin">관리</a>
        </li>
        <li class="nav-item">
            <a class="login btn btn-outline-primary" id="login">로그인</a>
        </li>
        <li class="nav-item">
          <a class="logout btn btn-outline-danger ml-2" id="logout" href="/logout">로그아웃</a>
        </li>

      </ul>
    </div>
  </nav>