<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- CSS파일  -->
    <link rel="stylesheet" href="/public/css/total.css">


    <title>게시판</title>
  </head>
  <body>
    
    <div>


       <%- include('login.ejs')  %>
        <%- include('nav.ejs')  %>



        <div>
          <form style="padding: 10px;" action="/post/free" method="POST">
            <div class="card col-md-12">
              <div class="card-body">
  
                <div class="row col-md-5 form-inline">
                  <div class="mb-3">
                    <label for="post_title" class="form-label">제목</label>
              <input type="text" class="form-control" id="post_title" name="post_title">
                  </div>
                </div>
  
                <div class="row col-md-5 form-inline">
                  <div class="mb-3">
                    <label for="post_content" class="form-label">내용</label>
              <input type="text" class="form-control" id="post_content" name="post_content">
                  </div>
                </div>
                <input type="hidden" id="user_id" value="<%= user.id %>">
                
                <button type="submit" class="btn btn-outline-danger">등록</button>
              </div>
            </div>
          </form>
        </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    
  </body>
</html>