<!doctype html>
<html>
  <head>
    <%- include('script.ejs') %>

    

    



    <title>Error</title>
  </head>
  <body>

        <!-- 로그인 모달창 -->
        <div class="login-bg">
            <div class="login-modal">
                <form>
                    <div class="form-group">
                        아이디
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        비밀번호
                        <input type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">로그인</button>
                    <button type="button" class="loginCancle btn btn-danger">닫기</button>
                </form>
            </div>
        </div>
    


        <%- include('nav.ejs')  %>


          <div class="container jumbotron">
            
            <div class="errMsg">
              <h2 class="display-4 m-2">Error 404</h2><br>
              <p class="lead display-6 m-1">존재하지 않는 페이지입니다. 올바른 주소로 다시 접속해주세요.</p>
              <a class="btn btn-primary btn-lg m-1" href="/">메인으로 돌아가기</a>
            </div>
            <img src="../../public/img/coding.png" class="" alt="...">
          </div>
            
      <!-- 로그인 버튼 클릭 시 애니메이션 -->
      <%- include('loginani.ejs') %>


  </body>
</html>