<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link my-nav-link" id="my-nav-link-1" href="/mypage/info">회원정보 수정</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-nav-link" id="my-nav-link-2" href="/mypage/password">비밀번호 변경</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-nav-link" id="my-nav-link-3" href="/mypage/withdraw">회원 탈퇴</a>
      </li>
    </ul>
  </div>
  </div>