

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 mt-3">
    <ul class="list justify-content-center">
      <li class="tab-button my-select-active">회원정보 수정</li>
      <li class="tab-button">프로필 사진 변경</li>
      <li class="tab-button">비밀번호 변경</li>
      <li class="tab-button">회원 탈퇴</li>
    </ul>
  </div>
</div>