<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Evertime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/intro">소개</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              게시판
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/free/board/1">자유게시판</a>
              <a class="dropdown-item" href="/qna/board/1">질답게시판</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="mypage" href="/mypage">마이페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="adminlink" href="/manage/admin">관리</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary" id="login">로그인</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary" id="logout" href="/auth/logout">로그아웃</a>
        </li>

      </ul>
    </div>
  </nav>

  <script>
            
                $.ajax({
                  method : 'GET',
                  url : "/auth/getauth",
                }).done( (data, textStatus, xhr) => {
                  
                if(data.id!=null){
                  $("#login").attr({"id":"logout","href":"/auth/logout","class":"btn btn-outline-danger"}).text("로그아웃")
                  $("#mypage").css("display",'block')
                  $("#logout").css("display",'block')
                  if(data.auth!="admin"&data.auth!="operator"){
                  $("#adminlink").css("display","none")
                  }else{
                    $("#adminlink").css("display","block")
                } 

                } else {
                  $("#logout").attr({"id":"login","href":"/auth/login","class":"btn btn-outline-danger"}).text("로그인")
                  $("#mypage").css("display","none")
                }
              })
              
  </script>