<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Evertime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/intro">소개</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              게시판
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/free/board/1">자유게시판</a>
              <a class="dropdown-item" href="/qna/board/1">질답게시판</a>
            </div>
          </div>
          <% try { %>
          <% if(user!=undefined){ %>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="mypage" href="/mypage/info">마이페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="adminlink" href="/manage/admin">관리</a>
        </li>
          <li class="nav-item">
            <a class="btn btn-outline-danger" id="logout" href="/auth/logout">로그아웃</a>
          </li>
          
          <li class="ml-4">
            <img src="<%=user.img %>" width="28px" height="35px">
            <span style="font-size: 16px;font-weight: bold;"><%=user.nickname %></span>
          </li>
          <% } %>
          <% } catch {} %>
          
          <% if(user===undefined){ %>
          <li class="nav-item">
              <a class="btn btn-outline-primary" id="login">로그인</a>
          </li>
          <% } %>

      </ul>
    </div>
  </nav>

  <script>

    $.ajax({
      method : "POST",
      url : "/auth/userinfo"
    })

  </script>