<!doctype html>
<html>

<head>
  <%- include('script.ejs') %>

  <title>회원가입</title>
</head>

<body>


  <%- include('login.ejs') %>
    <%- include('nav.ejs') %>


    <div>
      <form id="signup-form" style="padding: 10px;" action="/member/add" method="POST">
        <div class="card col-md-12">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 text-center">
                <h3>회원가입</h3>
                <br/>

                <div class="form-group row">
                  <label for="signup-id" class="col-md-4 form-label text-right">아이디 : </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="signup-id" name="signup-id">
                  </div>
                  <button type="button" id="id_check" class="btn btn-outline-success btn-sm col-md-2">아이디 체크</button>                  
                </div>
                <div class="row">
                <div class="col-md-4"></div>
                <div id="idcheckmsg" class="ml-3 text-center"></div>
                </div>
                <div class="form-group row">
                  <label for="signup-pw" class="col-md-4 form-label text-right">비밀번호 : </label>
                  <div class="col-md-6">
                    <input type="password" class="form-control" id="signup-pw" name="signup-pw">
                  </div>
                </div>
              <div class="form-group row">
                <label for="signup-nick" class="col-md-4 form-label text-right">닉네임 : </label>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="signup-nick" name="signup-nick">
                </div>
              </div>
        <div class="form-group row">
          <label for="signup-name" class="col-md-4 form-label text-right">이름 : </label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="signup-name" name="signup-name">
          </div>
        </div>
        <div class="form-group row">
          <label for="signup-email" class="col-md-4 form-label text-right">이메일 : </label>
          <div class="col-md-6">
            <input type="email" class="form-control" id="signup-email" name="signup-email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 ml-3"></div>
          <button type="button" id="signup" class="btn btn-outline-danger" style="float:right;">회원가입</button>
        </div>
                <div class="col-md-3"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

      <!-- 로그인 버튼 클릭 시 애니메이션 -->
      <%- include ("loginani.ejs") %>


        <!-- 중복 아이디 검사, Ajax를 통한 회원가입 데이터 전송(미구현) -->
        <script>

          $('#id_check').click(() => {
            let checkId = $('#signup-id').val()
            $.ajax({
              method: 'POST',
              url: 'auth/checkid',
              data: { id: checkId }
            }).done(function (data, textStatus, xhr) {

              if (`${data}` == '사용 가능한 아이디입니다.') {
                $("#idcheckmsg").text(`${data}`).addClass('idCheckMsg')
                flag = true;

              } else {
                $("#idcheckmsg").text(`${data}`).addClass('idCheckMsg')
              }
            })
          })

          $('#signup').click(() => {
            let userID = $("#signup-id").val();
            let userPW = $("#signup-pw").val();
            let userNick = $("#signup-nick").val();
            let userName = $("#signup-name").val();
            let userEmail = $("#signup-email").val();

            let reg_id = /^[a-z0-9]{5,12}$/;
            let reg_pw = /(?=.*\d)(?=.*[a-zA-ZS]).{8,}/;
            let reg_nick = /^([a-zA-Z0-9ㄱ-ㅎ|ㅏ-ㅣ|가-힣]).{2,10}$/;
            let reg_name = /^([a-zA-Z0-9ㄱ-ㅎ|ㅏ-ㅣ|가-힣]).{2,10}$/;
            let reg_email = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;

            console.log (userID,userPW,userNick,userName,userEmail)
            if (!reg_id.test(userID)) {
              alert('아이디는 6~12자리 내의 영문,숫자 조합만 가능합니다.')
            } else if (!reg_pw.test(userPW)) {
              alert('비밀번호는 문자,숫자를 1개 이상 포함한 8자리 이상만 가능합니다.')
            } else if (!reg_nick.test(userNick)) {
              alert('닉네임은 2~10자리 내의 한글,영문만 사용가능합니다.')
            } else if (!reg_name.test(userName)) {
              alert('이름은 2~10자리 내의 한글,영문만 사용가능합니다.')
            } else if (!reg_email.test(userEmail)) {
              alert('이메일 양식을 확인해주세요.')
            } else {
              $.ajax({
                method: 'POST',
                url: '/member/add',
                data: { userID: userID, userPW: userPW, userNick: userNick, userName: userName, userEmail: userEmail },
                success: (data) => {
                  alert(data)
                  location.href('/')
                }
              }).fail((data, textStatus, xhr) => {
                console.log(data)
                alert(data);
              })
            }
          })

        </script>

</body>

</html>